
        <ul class="nave">
          
          <li class=""><a href="/posts">posts</a></li>
          <li class="menu-1"><a href="/know.html">know</a></li>
          <li class="menu-2"><a href="/what.html">what</a></li>
          <li class="menu-3"><a href="/chat.html">chat</a></li>
        </ul>

        <a href=""><div class="menu-1_hover">
            <span>KNOW</span>
            <p>about<br>life<br>inspirations</p>
          </div></a>

        <a href=""><div class="menu-2_hover">
            <span>WHAT</span>
            <p>experience<br>projects</p>
          </div></a>

        <a href=""><div class="menu-3_hover">
            <span>CHAT</span>
            <p>contact<br>invites<br>where to find me</p>
          </div></a>


    
