  <div class="container">
            
    <a href="https://www.linkedin.com/in/gabrielgomesco/"><h1 class="title" >gabriel gomes&nbsp</h1></a><a class="links" target="_blank" href="https://s3-sa-east-1.amazonaws.com/www.gabrielgomes.co/Curriculum-Gabriel.pdf">see resumé</a>
    <h2 class="subtitle">interaction | service designer</h2>
          
    <br><br><br><br>
    <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="location-home"><br><br>
              <span>based in</span><br>
              <a target="_blank" href="https://www.youtube.com/results?search_query=sao+paulo+city">são paulo</a>
          </div>
      </div>
      <div class="col-sm-6 col-md-4">
            <div class="working-location"><br><br>
              <span>working @</span><br>
              <a target="_blank" href="http://fjordnet.com">fjord</a>
            </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
</br></br></br>
    <div class="container">
    <div class="row">
        <div class="col-md-10" > 
          <h3 style="  color: white !important;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: 'soleil', 'helvetica', sans-serif !important;
    font-style: normal;
    font-weight: 600;
    padding-top: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.6em;
    color: #ffffff;">  <h3 style="  color: white !important;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: 'soleil', 'helvetica', sans-serif !important;
    font-style: normal;
    font-weight: 600;
    padding-top: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.6em;
    color: #ffffff;">Projects</h3></div>

    </div>
</div>
  </div>


