  <div class="container">

            
    <a href="https://www.linkedin.com/in/gabrielgomesco/"><h1 class="title" >gabriel gomes&nbsp</h1></a><a class="links" target="_blank" href="https://www.linkedin.com/in/gabrielgomesco/">see linkedin</a>
    <h2 class="subtitle">designer</h2>
          
    <br><br><br><br>
    <div class="row">
      <div class="col-sm-6 col-md-4">
            <div class="location-home"><br><br>
              <span>now, design lead at @</span><br>
              <a target="_blank" href="http://oculto.co">øculto studio</a> <span>, </span> <a target="_blank" href="http://toptal.com">toptal</a>
            </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
</br></br></br>
 
    <div class="container">
    <div class="row" style="border-top: 0.2px #7da5fff2 solid; color: white;
    padding-top: 20px;">
      <div class="col-md-12 projects-list-home" > 
        <h3 style="  color: white !important;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-family: 'soleil', 'helvetica', sans-serif !important;
        font-style: normal;
        font-weight: 600;
        padding-top: 12px;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 1.6em;
        color: #ffffff;">Projects</h3>
<br>
        <div class="row">
          <div class="col-md-3" style="padding-right: 25px !important;">
            <h4>united health group 🇧🇷</h4>
            <a href="">service design | patient experience for healthcare.</a><br>
          </div>
          <div class="col-md-3" style="padding-right: 25px !important;">
            <h4>avianca 🇨🇴</h4>

            <a href="/avianca.html">ux & product | the new digital experience for one of the biggest airlines.</a><br>
          </div>
          <div class="col-md-3" style="padding-right: 25px !important;">
              <h4>fleury 🇧🇷</h4>
            <a href="/fleury.html">ux & product | genomic testing: bringing hope for difficult diseases & life development.</a><br>
          </div>
          <div class="col-md-3" style="padding-right: 25px !important;">
            <h4>santander 🇧🇷</h4>
            <a href="">srvc & product | future vision with efficiency for branch managers.</a><br>
          </div>
        </div>
        </br>
        <div class="row">
          <div class="col-md-3" style="padding-right: 25px !important;">
            <h4>yahoo latam </h4>
            <a href="">ux | design and ux strategy for several pages and initiatives for the portal.</a><br>
          </div>
          <div class="col-md-3" style="padding-right: 25px !important;">
            <h4>oi 🇧🇷</h4>
            <a href="#" target="_blank">product | digital experience for onboarding new users.</a><br>
          </div>
          <div class="col-md-3" style="padding-right: 25px !important;">
            <h4>university of são paulo 🇧🇷</h4>
            <a href="">workshop | design for non designers.</a><br>
          </div>
          <div class="col-md-3" style="padding-right: 25px !important;">
            <h4>fogo paixão e lágrimas 🇧🇷</h4>
            <a href="http://www.conferenciafpl.com/" target="_blank">conference website | keeping alive the legacy of of gregory mcnutt.</a><br>
          </div>
        </div>
        

    

  </div>
</div>
  </div>
  
</br></br>
</br>
</br>
</br>
</br>
</br>


